= form_for @question, :class => 'form-horizontal' do |f|
  - if @question.errors.any?
    #errors
      %h4= pluralize @question.errors.count, "error"
      %ul
        = list_of @question.errors.full_messages do |msg|
          = msg

  .form-group
    %p= f.label :title
    %p= f.text_field :title, :class => 'form-control'

  .form-group
    %p= f.label 'Body'
    = f.cktext_area :text

  .form-group
    %p= label_tag 'Tags'
    %p= f.text_field :tag_string, :class => 'form-control'

  %p= f.submit 'Submit'

