.container-fluid.top-margin
  %table.table.table-hover
    - @questions.each do |question|
      %tr
        %td.vote-box
          .container-fluid.text-center
            %p.votes-tally= question.votes
            %p.votes-text votes
        %td
          .container-fluid.bottom-margin
            = link_to question do
              %h4= question.title

          - if question.tags.any?
            .container-fluid.pull-left.bottom-margin
              = render :partial => 'tags/tag', :collection => question.tags

          .container-fluid.pull-left
            asked by
            = link_to question.user.login, profile_user_path(question.user)
