%h2 Questions

= link_to 'Ask Question', new_question_path
- if session[:user]
  %p= session[:user][:login]
- else
  = link_to 'Sign Up', new_user_path

%hr

%table
  - @questions.each do |question|
    %tr
      %td
        / alternatively: link_to question_path question do
        = link_to question do
          = question.title
