%h2 Questions

= link_to 'Ask Question', new_question_path
- if session[:user_id]
  Hi
  = session[:username]
  = link_to 'Change password', users_change_password_path
  = link_to 'Logout', logout_path
- else
  = link_to 'Sign Up', new_user_path
  = link_to 'Login', login_path

%hr

%table
  - @questions.each do |question|
    %tr
      %td
        / alternatively: link_to question_path question do
        = link_to question do
          = question.title
