<h1>New Question</h1>

<%= form_for :question, url: questions_path do |f| %>
<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
</p>
<p>
  <%= f.label :text %><br>
  <%= f.text_field :text %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>
