= link_to 'Questions', questions_path

%h3= @question.title

- if session[:user_id]
  = link_to 'Edit question', edit_user_question_path(:id => @question.id, :user_id => session[:user_id])
  = link_to 'Delete question', user_question_path(:id => @question, :user_id => session[:user_id]), method: :delete, data: {:confirm => 'Are you sure?'}

%p= @question.text

%h3 Tags
= render :partial => 'tags/tag', :collection => @question.tags

%hr

%h3 Answers

= render @question.answers

%hr 

%h4 Your Answer
= render 'answers/form'
