%h3= @question.title

%hr

.container-fluid
  %table.table.table-hover
    %tr
      %td.vote-box
        = link_to question_upvotes_path(@question), method: :post do
          %span.arrow-up
        .votes-tally.text-center
          = @question.votes
        = link_to question_downvotes_path(@question), method: :post do
          %span.arrow-down

      %td
        .container-fluid.bottom-margin
          = sanitize @question.text
        .container-fluid.bottom-margin
          = render :partial => 'tags/tag', :collection => @question.tags
        .container-fluid.pull-left
          - if session[:user_id]
            = link_to 'edit', edit_user_question_path(:id => @question.id, :user_id => session[:user_id])
            |
            = link_to 'delete', user_question_path(:id => @question, :user_id => session[:user_id]), method: :delete, data: {:confirm => 'Are you sure?'}
        .container-fluid.pull-left
          asked by
          = link_to @question.user.login, profile_user_path(@question.user)

%hr

%h3 Answers

.container-fluid.top-margin
  %table#js-answers.table.table-hover
    = render @question.answers

%hr

%h4 Your Answer

#js-answer-errors

= render 'answers/form'
