%h3= @question.title

%hr

.container-fluid
  %table.table.table-hover
    %tr
      %td.vote-box
        -#.arrow-up
        = link_to 'upvote', question_upvotes_path(@question), method: :post
        .votes-tally.text-center
          = @question.votes
        .arrow-down

      %td
        .container-fluid.bottom-margin
          = @question.text
        .container-fluid.bottom-margin
          = render :partial => 'tags/tag', :collection => @question.tags
        .container-fluid.pull-left
          - if session[:user_id]
            = link_to 'edit', edit_user_question_path(:id => @question.id, :user_id => session[:user_id])
            |
            = link_to 'delete', user_question_path(:id => @question, :user_id => session[:user_id]), method: :delete, data: {:confirm => 'Are you sure?'}
        .container-fluid.pull-left
          %p asked by #{@question.user.login}

%hr

%h3 Answers

.container-fluid.top-margin
  = render @question.answers

%h4 Your Answer

= render 'answers/form'
