%h3{:style => 'margin-bottom: 20px;'} Change Password

= form_tag :do_change_password_user do
  .form-group
    %p= label_tag :password, 'New password'
    %p= password_field_tag :password

  .form-group
    %p= label_tag :password_confirmation, 'Confirm password'
    %p= password_field_tag :password_confirmation

  %p= submit_tag 'Change Password'
