%h1 Sign Up

= form_for @user do |f|
  %p= f.label :login
  %p= f.text_field :login

  %p= f.label :password
  %p= f.password_field :password

  %p= f.label :password_confirmation
  %p= f.password_field :password_confirmation

  %p= f.label :email
  %p= f.email_field :email

  %p= f.submit
