%h3 Sign Up

= form_for @user do |f|
  - if @user.errors.any?
    #errors
      %h4= pluralize @user.errors.count, "error"
      %ul
        = list_of @user.errors.full_messages do |msg|
          = msg

  .form-group
    %p= f.label :login, 'Username'
    %p= f.text_field :login

  .form-group
    %p= f.label :password
    %p= f.password_field :password

  .form-group
    %p= f.label :password_confirmation, 'Confirm password'
    %p= f.password_field :password_confirmation

  .form-group
    %p= f.label :email
    %p= f.email_field :email

  %p= f.submit 'Sign up'
