%table.table.table-hover
  %tr
    %td.vote-box
      -#.arrow-up
      = link_to 'upvote', question_answer_upvotes_path(@question, answer), method: :post
      .votes.text-center
        = answer.votes
      -#.arrow-down
      = link_to 'downvote', question_answer_downvotes_path(@question, answer), method: :post

    %td
      .container-fluid.bottom-margin
        = answer.body

      .container-fluid.pull-left
        - if session[:user_id]
          = link_to 'delete', [answer.question, answer], method: :delete, data: {:confirm => 'Are you sure?'}

      .container-fluid.pull-left
        %p answered by #{answer.user.login}

%hr
