%h1 Tags

%hr

.container
  = form_tag 'tags/search', :method => 'get', :class => 'form-inline'  do
    .form-group
      = label_tag 'Find tags'
      = search_field_tag :search_string

    = submit_tag 'Search'

%hr

= render 'tag_list'
