%nav.navbar.navbar-default{:style => 'padding-top: 10px; padding-bottom: 10px;'}
  .container-fluid
    %ul.nav.nav-bar.nav-pills.navbar-left
      %li= link_to 'Ask Question', new_question_path
      %li= link_to 'Questions', questions_path
      %li= link_to 'Tags', tags_path

    %ul.nav.nav-bar.nav-pills.navbar-right{:style => 'margin-right: 5px;'}
      - if session[:user_id]
        %li{:style => 'padding: 10px 15px;'} Logged in as #{session[:username]}
        %li= link_to 'Change password', change_password_user_path(session[:user_id])
        %li= link_to 'Logout', logout_path
      - else
        %li= link_to 'Sign Up', new_user_path
        %li= link_to 'Log In', login_path
