!!!
%html
  %head
    %title soclone
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container-fluid
      = render 'layouts/navbar'
      
      - if flash[:message]
        .container.bg-info
          %p= flash[:message]
      - if flash[:warning]
        .container.bg-warning
          %p= flash[:warning]
      - if flash[:error]
        .container.bg-danger
          %p= flash[:error]

      .container
        = yield
