!!!
%html
  %head
    %title soclone
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container-fluid{:style => 'margin-top: 10px;'}
      = render 'layouts/navbar'
      
      - if flash[:message]
        .container-fluid.bg-info{:style => 'padding-top: 10px;'}
          %p= flash[:message]
      - if flash[:warning]
        .container-fluid.bg-warning{:style => 'padding-top: 10px;'}
          %p= flash[:warning]
      - if flash[:error]
        .container-fluid.bg-danger{:style => 'padding-top: 10px;'}
          %p= flash[:error]

      .container
        = yield
